/*fonts*/
@import url("https://use.typekit.net/lom2fkq.css");

/*colors*/
:root {
    --main-color: #71bcbc;
    --cta-color: #f2ca5a;
    --link-color: #df573e;
    --link-hover: #f2ca5a;
    --color-5: #f28e4c;
    --main-text-color: #1b3642;
    --secondary-text-color: #b5b5b5;

    --primary-font: "sofia-pro", sans-serif;
    --secondary-font: "cormorant-garamond", serif;
    --special-font: "turbinado-pro", sans-serif;

    --white-space: 1rem;
}

/*body elements*/
body {
    font-family: var(--primary-font);
    top: 0px;
    left: 0px;
}

header {
    width: 100vw;
    height: 40vh;
    background-image: url();
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 2;
    position: relative;
    margin-bottom: 6rem;
}

.header_background {
    width: 100vw;
    height: 80vh;
    background-image: url(img/Home_Image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.header_background2 {
    width: 100vw;
    height: 40vh;
    background-image: url(img/Background_Header_Curve.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: -50px;
    right: 0;
    z-index: 1;
}

nav {
    padding-top: 1rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
}

.header_title {
    width: 40vw;
    padding-left: 2em;
}

.top,
footer {
    text-align: center;
}

.home-top {
    margin-top: 30rem;
    text-align: center;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    margin: 2rem;
}

.block-rec {
    padding: 1rem;
    width: 11vw;
    height: 10vw;
    margin: 2rem;
}

.block_grey {
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    margin: 2rem;
    filter: grayscale(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.block:hover {
    filter: brightness(130%);
}

.block_grey:hover {
    filter: brightness(70%);
}

.text-box {
    width: 50vw;
    height: 10vw;
}

footer {
    background-image: url(img/Footer_Background_Curve.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    margin: 2rem 0 6rem 0;
}

footer > ul > li {
    width: 18rem;
    margin: 1rem 0;
}

footer > ul > li > a {
    text-decoration: none;
    color: var(--cta-color);
    font-size: 1.5rem;
}

footer > ul > li > a:hover {
    text-decoration: underline;
}

footer > ul > li > a:active {
    text-decoration: line-through;
}

footer > h3 {
    color: white;
    margin: 6rem 0 0;
    font-weight: 400;
}

footer > h2 {
    font-size: 2rem;
}

.block > h3,
.block_grey > h3 {
    color: white;
    font-size: 3.5vw;
}

.newsletter {
    background-color: white;
    width: 30%;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: 10rem;
}

/*buttons*/
.regular {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font: 500 1.1em/1 var(--primary-font);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    border-style: solid;
    border-radius: 2rem;
    color: white;
    background: var(--cta-color);
    border: 0rem;
}

button:hover {
    transform: scale(1.1);
    color: white;
}

button:active {
    background-color: var(--main-color);
}

input {
    font: 500 var(--primary-font);
    letter-spacing: 1px;
    cursor: text;
    border-style: solid;
    border-radius: 2rem;
    background: white;
    border-color: #707070;
    padding: 0.5rem;
    border: 1px solid;
}

/*
.secondary-button {
    background: rgba(255, 0, 0, 0);
    border-color: var(--cta-color);
    border: 0.2rem;
    border-style: solid;
color: var(--cta-color);}
*/

/*links*/
nav > ul > li > a {
    text-decoration: none;
    color: var(--main-text-color);
}

nav > .ul2 > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

nav > ul > li > a:active {
    text-decoration: line-through;
}

main > section > a {
    font-family: var(--primary-font);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

main > section > a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--link-hover) 50%);
    background-repeat: repeat-x;
    background-position: 0% 70%;
    background-size: 200% 40%;
    transition: background-position 0.5s ease-out;
}

a:hover {
    background-position: -100% 70%;
}

/*text*/
h1 {
    font-family: var(--special-font);
    font-size: 4rem;
    color: var(--color-5);
}

h2 {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
    color: #707070;
}

h4 {
    font-family: var(--primary-font);
    color: #707070;
    font-size: 4vw;
    font-weight: 400;
    margin: 1rem;
}

h5 {
    font-family: var(--primary-font);
    color: #ffffff;
    font-size: 4vw;
    font-weight: 400;
    margin: 1rem;
}

p {
    font-family: var(--primary-font);
    line-height: 1.5;
    max-width: 960px;
    font-weight: 100;
    color: #707070;
    font-size: 1.2rem;
    margin: 0 auto;
}

strong {
    font-weight: bold;
}

em {
    font-family: var(--secondary-font);
    font-style: italic;
}

/*images*/
.logo {
    height: 150px;
    width: auto;
}

.group-pic-container {
    min-width: 35vw;
    max-width: 45rem;
    margin: 3rem;
}

.group-pic {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    margin: 0;
}

.bg1 {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-edgarcastrejon3-pumpkinsoup-025-01.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=f3063c55195fd861ac65deb2af654cba);
}

.bg2 {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a025-edgarc-28_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=800&s=6d5c399300f9da6ada103f30aa8acee8);
}

.bg3 {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a025-edgarc-14-1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=21342f0e0a57bdeab3a553c88c238f76);
}

.bg4 {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s64-greek-salad-with-spiralized-cucumber-6.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=800&s=d316fe690a24563cf2970fb0678b0b72);
}

/* ABOUT US */

#about {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-paragraph {
    margin: 0 3rem;
    text-align: left;
    padding: 0;
    height: 100%;
}

/* ABOUT US > IG FEED */

/* Place text on the left and img on the right*/
.IG-feed {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    flex-wrap: wrap;
}

/* Center text and allign in a colum */
.our-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    max-width: 30rem;
}

.our-feed > h4 {
    text-align: center;
    font-size: 3rem;
}

/* Display Images as in XD template */
.IG-pics {
    display: grid;
    /* Make 6 columns 1fr wide */
    grid-template-columns: repeat(5, 1fr);
    /* Make 2 rows with height according to pics' width */
    grid-template-rows: repeat(3, 0.35fr);
    grid-gap: 1rem;
    /* Just to be sure: in case the grid lenght is less than the lenght of the grid container -> center grid in the container */
    justify-content: center;
    /* Same as above, but vertically */
    align-content: center;
    max-width: 60rem;
    margin: 6rem;
}

/* Assign specific rows and columns to grid's children */
.pic1 {
    /*  row start / column start / row end / column end  */
    grid-area: 1 / 1 / 2 / 2;
}

.pic2 {
    /*  row start / column start / row end / column end  */
    grid-area: 2 / 1 / 4 / 2;
}

.pic3 {
    /*  row start / column start / row end / column end  */
    grid-area: 1 / 2 / 3 / 3;
}

.pic4 {
    /*  row start / column start / row end / column end  */
    grid-area: 3 / 2 / 4 / 3;
}

.pic5 {
    /*  row start / column start / row end / column end  */
    grid-area: 1 / 3 / 2 / 4;
}

.pic6 {
    /*  row start / column start / row end / column end  */
    grid-area: 2 / 3 / 4 / 4;
}

.pic7 {
    /*  row start / column start / row end / column end  */
    grid-area: 1 / 4 / 3 / 6;
}

.pic8 {
    /*  row start / column start / row end / column end  */
    grid-area: 3 / 4 / 4 / 5;
}

.pic9 {
    /*  row start / column start / row end / column end  */
    grid-area: 3 / 5 / 4 / 6;
}

/* Make images fit the parent container */
.IG-pics img {
    border-radius: 1.3rem;
    object-fit: cover;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

/* CONTACT PAGE */

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-form {
    background-color: var(--main-color);
    width: 30%;
    padding: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-form > h2 {
    color: white;
}

/* TABLET VERSION */

@media only screen and (min-width: 600px) and (max-width: 899px) {

    .IG-pics {
        grid-gap: 0.5rem;
        margin: 0;
    }
}

/* MOBILE VERSION */
@media only screen and (max-width: 599px) {

    .IG-feed {
        margin: 0;
    }

    .IG-pics {
        /* Make 6 columns 1fr wide */
        grid-template-columns: repeat(2, 1fr);
        /* Make 2 rows with height according to pics' width */
        grid-template-rows: repeat(9, 0.25fr);
        /* Just to be sure: in case the grid lenght is less than the lenght of the grid container -> center grid in the container */
        grid-gap: 1rem;
        margin: 0;
    }

    /* Assign specific rows and columns to grid's children */
    .pic1 {
        /*  row start / column start / row end / column end  */
        grid-area: 1 / 1 / 2 / 2;
    }

    .pic2 {
        /*  row start / column start / row end / column end  */
        grid-area: 2 / 1 / 4 / 2;
    }

    .pic3 {
        /*  row start / column start / row end / column end  */
        grid-area: 1 / 2 / 3 / 3;
    }

    .pic4 {
        /*  row start / column start / row end / column end  */
        grid-area: 3 / 2 / 4 / 3;
    }

    .pic5 {
        /*  row start / column start / row end / column end  */
        grid-area: 4 / 1 / 6 / 3;
    }

    .pic6 {
        /*  row start / column start / row end / column end  */
        grid-area: 6 / 1 / 7 / 2;
    }

    .pic7 {
        /*  row start / column start / row end / column end  */
        grid-area: 6 / 2 / 7 / 3;
    }

    .pic8 {
        /*  row start / column start / row end / column end  */
        grid-area: 7 / 1 / 9 / 3;
    }

    .pic9 {
        /*  row start / column start / row end / column end  */
        grid-area: 9 / 1 / 10 / 3;
    }
}


/*Claudia*/
/*LONNNNNNGG WAIT*/
.productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productblock {
    background-image: url(img/apps/7-eleven-logo-vector.png);
    background-position: center;
    background-size: cover;
    z-index: 5;
    align-items:center;
}

.img {
    grid-area: img;
    width: 15vw;
    height: 15vw;
    z-index: 1;
}

.product_name {
    z-index: 2;
}

.productlist > section {
      display: grid;
      max-width: 1200px;
      margin: auto;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 60px;
      margin-bottom: 60px;
}

img {
    grid-area: img;
    /*
  max-width: 100%;
  height: auto;
*/
    width: 15vw;
    height: 15vw;
    z-index: 1;
}

/*
body {
    margin: 0;
}
*/

.productlist > section > h6 {
    /*  grid-column: 1/-1;*/
    /*  margin-bottom: -40px;*/
}




/* The Modal (background) */
.hide {
    display: none;
}

.modal {
    /*    display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}



/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.aside1 {
    grid-area: aside1;
    margin: auto;
     text-align: center;
    justify-content: center;
}

.aside2 {
    grid-area: aside2;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.product_info {
    grid-area: product_info;
}

.section1 {
    grid-area: section1;
}

.section2 {
    padding-top: 2rem;
    grid-area: section2;
}

.block1 {
    padding:2rem;
    margin: 1rem;
    width: 15vw;
    height: 15vw;
    justify-content: center;
    vertical-align: middle;
    grid-area: block1;
    background-color: var(--main-color);
}

.product_name {
    text-align: center;
}

.stars {
    padding: inherit;
}

@media only screen and (min-width: 900px) {


    .product_info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "section1"
            "section2";
    }

    .section2 {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aside1 aside2";
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.productModal {
    z-index: 5;
}
