/*fonts*/

/*colors*/

/*body elements*/
body {
    font-family: Helvetica, sans-serif;
    top: 0px;
    left: 0px;

}

header {
    width: 100vw;
    height: 70vh;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    position:relative;
}

.header_background {
    width: 100vw;
    height: 70vh;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: gray;
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    z-index: 1;
}

nav {
    padding-top: 1rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
}

.header_title {
    width: 30vw;
    padding-left: 2em;
    padding-top: 2em;
}

.top, footer {
    text-align: center;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.block {
    border: 1px solid black;
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    margin: 2rem;
}

footer {
    border: 1px black solid;
    width: 60%;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
}

/*buttons*/
.regular {
    background: green;
    border-radius: 30px;
    border: 1px green solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

/*links*/
nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    text-decoration:underline;
}

nav > ul > li > a:active {
    text-decoration: line-through;
}

/*headers*/
h1 {
    font-size: 3rem;
    color: mediumvioletred;
}

h2 {
    color: rebeccapurple;
}

h3 {
    color: gray;
}
